@font-face {
    font-family: 'Onest';
    src: url(./fonts/Onest/Onest-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'OnestBold';
    src: url(./fonts/Onest/Onest-Bold.ttf);
}
@font-face {
    font-family: 'OnestRegular';
    src: url(./fonts/Onest/Onest-Regular.ttf);
}
@font-face {
    font-family: 'OnestMedium';
    src: url(./fonts/Onest/Onest-Medium.ttf);
}
@font-face {
    font-family: 'Bicubik';
    src: url(./fonts/Bicubik/Bicubik.OTF);
}